@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Regular.woff') format('woff');
  font-weight: 100 900; /* Si la fuente tiene un rango de pesos */
  font-style: normal;   /* O 'italic' si es una fuente en cursiva */
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Bold.woff') format('woff');
  font-weight: 700;  
  font-style: normal;
}

html, body {
  color: #fff;
  background: #416f7b;
  font-family: 'Urbanist', sans-serif;
}

main{
  background: #4c94aa;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance{
    text-wrap: balance;
  }
}